@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,700;1,400&display=swap');

:root {
	--omnios-colour:#ff9800;
	--omnios-colour-pale: rgb(255, 152, 0, .4);
	--container-margin-top: 2.2em;
}

html {
	font-family: 'Roboto Mono', monospace;
	font-size: 0.9em;

	--bg-colour: white;
	--text-colour: black;
	--loading-overlay-bg: rgba(26, 26, 26, 0.7);
	--icon-colour: black;
	--icon-alt-colour: #20252b;
	--disabled-colour: #ccc;
	--datepicker-bg-colour: #eee;
	--datepicker-text-colour: black;
	--datepicker-border-colour: #ccc;
	--status-colour: #ff4500;
	--search-bg-colour: #ddd;
	--menu-bg-colour: white;
	--shortcut-key-colour: #ddd;
	--border-colour: var(--omnios-colour);
	--chan-hover-bg-colour: #eee;
	--topic-bg-colour: #eee;
	--topic-text-colour: black;
	--topic-border-colour: #ccc;
	--ts-link-colour: black;
	--msg-hover-bg-colour: #eee;
	--msg-highlight-colour: var(--omnios-colour-pale);
	--meter-background: whiteSmoke;
}

html:not(.style-scope)[dark] {
	--bg-colour: #20252b;
	--text-colour: #c0c0c0;
	--icon-colour: #c0c0c0;
	--icon-alt-colour: #20252b;
	--disabled-colour: #606060;
	--datepicker-bg-colour: #364554;
	--datepicker-text-colour: #c0c0c0;
	--datepicker-border-colour: #999;
	--search-bg-colour: #3c4c5b;
	--menu-bg-colour: #2e3944;
	--shortcut-key-colour: #364554;
	--chan-hover-bg-colour: #364554;
	--topic-bg-colour: #2e3944;
	--topic-text-colour: #c0c0c0;
	--ts-link-colour: #c0c0c0;
	--msg-hover-bg-colour: #364554;
	--msg-highlight-colour: #50350e;
	--meter-background: var(--menu-bg-colour);
}

body {
	margin: 0;
	background: var(--bg-colour);
	color: var(--text-colour);
}

a {
	color: var(--omnios-colour);
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

.hidden {
	display: none;
}

.no_scroll {
	overflow: hidden;
}

.fail_msg {
	padding: .75rem 1.25rem;
	border: 1px solid transparent;
	border-radius: .25rem;
	color: #721c24;
	background-color: #f8d7da;
	border-color: #f5c6cb;
}

.log_row, .log_row_head {
	display: flex;
	line-height: 1.4em;

	.ts, .nick, .message {
		padding: 0 .5em;
	}

	a.ts_link {
		color: var(--ts-link-colour);
	}

	.nick {
		min-width: 8em;
		text-align: right;
		font-weight: bold;
		cursor: pointer;
	}

	&:hover {
		background: var(--msg-hover-bg-colour);
	}

	.message {
		white-space: pre-wrap;
		a {
			overflow-wrap: break-word;
			word-wrap: break-word;
			-ms-word-break: break-all;
			word-break: break-word;
			-ms-hyphens: manual;
			-moz-hyphens: manual;
			-webkit-hyphens: manual;
			hyphens: manual;
		}
	}

	&.hl, &.hlu {
		background: var(--msg-highlight-colour);
	}

	&.hidden {
		display: none;
	}
}

i.fa-sort {
	color: var(--disabled-colour);
}

i.fa-link {
	color: var(--omnios-colour);
}

#loading_overlay {
	display: none;
	background: var(--loading-overlay-bg);
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 9999;
	top: 0;
}

#loading_container {
	display: none;
	position: fixed;
	z-index: 7;
	top: 50%;
	left: 50%;
	transform: translate( -50%, -50% );
}

#mini_loader, #search_loader {
	margin: 1em;
	color: var(--omnios-colour);
}

#overlay {
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5);
	z-index: 999;

	& > * {
		display: none;
		position: absolute;
		top: 50%;
		left: 50%;
		width: 40vw;
		padding: 2em;
		min-height: 20vh;
		transform: translate(-50%,-50%);
		-ms-transform: translate(-50%,-50%);
		background: var(--topic-bg-colour);
		color: var(--topic-text-colour);

		header {
			cursor: pointer;
			display: flex;
			justify-content: space-between;
			margin-bottom: .5em;
			padding-bottom: .7em;
			border-bottom: 1px solid var(--topic-border-colour);

			h3 {
				margin: 0;
			}
		}
	}

	#help_overlay {
		cursor: pointer;

		main {
			display: grid;
			grid-template-columns: repeat(2, 1fr);

			.shortcut {
				margin: 1em 0;

				.key {
					background: var(--shortcut-key-colour);
					padding: 3px 9px;
					border-radius: 5px;
				}
			}
		}
	}

	#search_overlay {
		height: 90vh;
		width: 80vw;

		#search_filters {
			margin: 1em 0;
			padding-bottom: 1em;
			border-bottom: 1px solid var(--topic-border-colour);

			.keyword {
				display: inline-block;
				padding: 5px;
				background: var(--bg-colour);
				border-radius: 5px;
				overflow-wrap: anywhere;
			}

			#search_curr_term {
				margin: 1em 0;
			}

			#search_filter_form {
				display: flex;
				flex-direction: column;

				form {
					display: flex;
					justify-content: space-around;
					flex-wrap: wrap;

					label {
						display: flex;
						flex-direction: column;
						align-items: center;

						input, select {
							color:	var(--text-colour);
							background: var(--bg-colour);
							outline: none;
							border: 0;
							padding: 4px 10px;
							margin-top: .3em;
							width: 15vw;
						}
					}
				}

				#submit_search_filters {
					margin: 1em auto;
					color:	var(--text-colour);
					background: var(--bg-colour);
					outline: none;
					border: 1px solid var(--text-colour);;
					padding: 4px 10px;
				}
			}
		}

		main {
			#search_logs {
				padding: 1em;
				background: var(--bg-colour);
				border-radius: 5px;
				overflow-y: scroll;
				height: 70vh;

				#search_log_headings {
					&:hover {
						background: inherit;
					}

					span {
						&:hover {
							i.fa {
								color: var(--msg-hover-bg-colour);
							}
						}
					}
				}

				.log_row, .log_row_head {
					display: grid;
					column-gap: .25em;
					cursor: pointer;

					.ts {
						padding: 0;
						cursor: unset;
					}

					.nick {
						min-width: 0;
						cursor: unset;
					}

					.message {
						overflow-wrap: anywhere;
					}

					.rank {
						width: 35px;
						height: 20px;

						&::-webkit-meter-bar {
							background: none;
							background-color: var(--meter-background);
						}

						&::-webkit-meter-optimum-value {
							background: #8bcf69;
						}
						&::-webkit-meter-suboptimum-value {
							background: #e6d450;
						}
						&::-webkit-meter-even-less-good-value {
							background: #f28f68;
						}

					/*
						Trying to style the meter
						for Firefox makes it look
						ugly.

						&:-moz-meter-optimum {
							background-color: #8bcf69;
						}
						&:-moz-meter-sub-optimum {
							background-color: #e6d450;
						}
						&:-moz-meter-sub-sub-optimum {
							background-color: #f28f68;
						}
					/**/

						/*
						 * This is for the HTML
						 * fallback for browsers that
						 * do not support <meter>
						 */

						.meter-gauge {
							border: 1px solid #ccc;
							border-radius: 3px;
							background-color: whiteSmoke;
							box-shadow: 0 5px 5px -5px #333 inset;
							width: 35px;
							height: 10px;
							display: block;
							margin-top: 4px;

							span {
								height: inherit;
								box-shadow: 0 5px 5px -5px #999 inset;
								background-color: var(--omnios-colour);
								background-size: 100% 100%;
								display: block;
								text-indent: -9999px;
							}
						}
					}
				}

				hr {
					border: none;
					height: 1px;
					background: var(--omnios-colour);
				}
			}
		}
	}
}

#menu {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;

	padding: 0.5em 2em;
	position: fixed;
	top: 0;
	z-index: 10;
	width: calc(100vw - 4em);
	height: 20px;
	background: var(--menu-bg-colour);

	#title {
		color: var(--omnios-colour);
		padding-right: 1em;

		span {
			display: inline-block;
		}
	}

	.fa, .fas, .far {
		padding: 0 .2em;
		cursor: pointer;
		color: var(--icon-colour);
	}

	.disabled {
		.fa, .fas, .far {
			color: var(--disabled-colour);
		}
	}

	#datepicker_container {
		display: inline;

		.fa, .fas, .far {
			position: relative;
			top: .1em;
		}
	}

	#datepicker {
		width: 12ch;
		background: var(--datepicker-bg-colour);
		color: var(--datepicker-text-colour);
		border: 1px solid var(--datepicker-border-colour);
		outline: none;
		vertical-align: middle;
		border-radius: 0;
		-webkit-appearance: none;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
	}

	#toggle_sys {
		&.on {
			.fas {
				color: var(--status-colour);
			}
		}
	}

	#toggle_sys_info {
		color: var(--status-colour);
		font-size: 0.8em;
		margin-left: -5px;
	}

	#menu_right {
		margin-right: 1em;

		form {
			input {
				transition: width 0.5s;
				width: 12px;
				padding: 4px 10px;
				border-radius: 25px;
				border: 0;
				background: var(--search-bg-colour);
				color: transparent;
				outline: none;

				&::placeholder {
					color: transparent;
				}

				&:focus {
					color: var(--text-colour);

					&::placeholder {
						color: grey;
					}
				}
			}

			i.fa {
				position: absolute;
				top: 0.7em;
				right: 3.7em;
				width: 10px;
				height: 10px;
				padding: 2px;
				border-radius: 25px;
				margin: auto;
			}

			&:hover > input {
				color: var(--text-colour);

				&::placeholder {
					color: grey;
				}
			}
		}
	}
}

#container {
	margin-top: var(--container-margin-top);
	padding: 0 1em;
	display: flex;
	flex-wrap: wrap;

	#channel_container, #log_container {
		border: 1px solid var(--omnios-colour);
		margin: .5em .5em;
		padding: .5em .5em;
	}

	#channel_container {
		flex-basis: 15ch;
		flex-grow: 1;
		position: fixed;
		left: 0;
		top: var(--container-margin-top);
		margin-left: 2em;
		height: calc(100vh - 4.3em);

		#channels {
			& > * {
				a {
					display: block;
					padding: 5px 4px;
					width: 95%;
					color: var(--text-colour);

					&:hover {
						background: var(--chan-hover-bg-colour);
					}
				}

				&.current {
					a {
						color: var(--omnios-colour);
					}
				}
			}

			div.sel {
				border: solid 2px var(--omnios-colour);
				background: var(--chan-hover-bg-colour);
			}
		}
	}

	#log_container {
		margin-left: 11em;
		flex-basis: 0;
		flex-grow: 999;
		min-height: calc(100vh - 4.3em);

		#topic {
			padding: .75rem 1.25rem;
			margin-bottom: .5em;
			border: 1px solid transparent;
			border-radius: .25rem;
			color: var(--topic-text-colour);
			background-color: var(--topic-bg-colour);
			border-color: var(--topic-border-colour);
			font-style: italic;

			a {
				overflow-wrap: break-word;
				word-wrap: break-word;
				-ms-word-break: break-all;
				word-break: break-word;
				-ms-hyphens: manual;
				-moz-hyphens: manual;
				-webkit-hyphens: manual;
				hyphens: manual;
			}
		}

		#logs {
			.log_row, .log_row_head {
				display: flex;
				line-height: 1.4em;

				.ts, .nick, .message {
					padding: 0 .5em;
				}

				a.ts_link {
					color: var(--ts-link-colour);
				}

				.nick {
					min-width: 8em;
					text-align: right;
					font-weight: bold;
					cursor: pointer;
				}

				&:hover {
					background: var(--msg-hover-bg-colour);
				}

				.message {
					a {
						overflow-wrap: break-word;
						word-wrap: break-word;
						-ms-word-break: break-all;
						word-break: break-word;
						-ms-hyphens: manual;
						-moz-hyphens: manual;
						-webkit-hyphens: manual;
						hyphens: manual;
					}
				}

				&.hl, &.hlu {
					background: var(--msg-highlight-colour);
				}
			}

			hr {
				border: none;
				height: 1px;
				background: var(--omnios-colour);
			}
		}
	}
}

@media only screen and (max-width: 750px) {
	#menu {
		width: 95vw;
		padding: .5em 1em;

		#title {
			span {
				display: inline;
			}
		}

		#toggle_sys_info {
			display: none;
		}
	}

	#container {
		margin-top: 3.5em;
		flex-direction: column;

		#channel_container {
			position: static;
			height: auto;
			margin: 1em 0;
		}

		#log_container {
			margin: 0;
			min-height: auto;

			#logs {
				.log_row, .log_row_head {
					flex-wrap: wrap;

					.ts, .nick {
						flex-basis: 50%;
					}

					.message {
						flex-basis: 100%;
					}

					.nick {
						text-align: left;
					}
				}
			}
		}
	}

	#toggle_help {
		display: none;
	}
}

[class*='nick_col_'] {
	font-weight: bold;
}

.nick_col_ooce {
	color: var(--omnios-colour);
}

.nick_col_bot {
	color: #ed1aec;
}

.nick_col_0 {
	color: #c397d8;
}

.nick_col_1 {
	color: #969603;
}

.nick_col_2 {
	color: #059405;
}

.nick_col_3 {
	color: #5c5ced;
}

.nick_col_4 {
	color: #a758a7;
}

.nick_col_5 {
	color: #4271ae;
}

.nick_col_6 {
	color: #718c00;
}

.nick_col_7 {
	color: #c82829;
}

.nick_col_8 {
	color: #cc7339;
}

.nick_col_9 {
	color: #8959a8;
}

.nick_col_10 {
	color: #eab700;
}

.nick_col_11 {
	color: #b9ca4a;
}

.nick_col_12 {
	color: #3e999f;
}

.nick_col_13 {
	color: #66cccc;
}

.nick_col_14 {
	color: #7aa6da;
}

.join_col, .nick_col {
	color: #009200;
}

.part_col {
	color: #800000;
}

.channel_col {
	color: #f00;
}

.highlight {
	background: var(--omnios-colour-pale);
}

